<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Edit News</title>
    <div th:replace="_fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="_fragments/header :: header"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col mb-12">
            <h1>News Management System</h1>
            <hr>
            <h2>Edit News</h2>
            <form action="#" th:action="@{/news/updateNews}" th:object="${news}" method="post">
                <div class="col-sm-12">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="input-group mb-3">
                        <label for="editDescription" class="sr-only" id="editDescription">Description</label>
                        <textarea class="form-control" id="textarea" th:field="*{description}"
                                  onfocus="this.value=''" maxlength="500" rows="10"></textarea>
                    </div>
                    <div id="count">
                        <span id="current_count">0</span>
                        <span id="maximum_count">/ 500</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </form>
            <hr>
            <a th:action="@{/}" class="font-weight-bold btn btn-outline-primary">Go Back</a>
        </div>
    </div>
</div>
<div th:replace="_fragments/footer :: footer"></div>

    <script>

        $('textarea').keyup(function() {
            var characterCount = $(this).val().length,
                current_count = $('#current_count'),
                maximum_count = $('#maximum_count'),
                count = $('#count');
            current_count.text(characterCount);
        });

    </script>
</body>
</html>